
@import '../sass/pbootstrap.css';
/* ================= RESET =============*/
$couleur_bois:  #8B4513;
$couleur_or :  rgb(199, 141, 70);
$couleur_noir: #000;
$taille_titre : 27px;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
    
}
body{
    overflow-x: hidden;
    background-color: #171616;
}

.button{
    background-color: $couleur_bois !important;
    border: none !important;
}
.button:hover{
    background-color: $couleur_or !important;
    box-shadow: 0 6px 35px -13px #000;
    transition: all 0.7s;
}


/*=========================================
                HEADER
=========================================== */
header{
    position: fixed;
    width: 100%;
    z-index: 10;
}
header .nava{
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background ease-in-out 1s;
}
.navbar-head{
    width: 80%;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
   
}
.navbar-head .img-logo{
    justify-self:flex-start;
    margin-left: 15px;
    padding:5px;
    z-index: 12;
}
.bouton-menu{
    display: none;
    position: relative;
    z-index: 31;
}
.bouton-menu .menu-toggle{
    
    margin-right: 30px;
    position: absolute;
    top: 27%; right: 0;
}
.bouton-menu .menu-toggle hr{
    border: 2px solid $couleur_bois;
    opacity: 1;
    width: 20px;
    margin-top: 6px;
}
.navbar-head .menu_composant{
    align-self: center;
    
}
.navbar-head .menu_composant ul{
    display:flex;
    justify-content: space-between;
    margin-right:30px;
    align-items: center;
}
.navbar-head .menu_composant ul li{
   margin: 0px 15px;
   font-size: 1.2em;
   font-weight: lighter;
}
.navbar-head .menu_composant ul li a {
    text-decoration: none;
    position: relative;
}
.navbar-head .menu_composant ul li a .active{
    color: $couleur_or;
}
/*.navbar-head .menu_composant ul li .active::before {
    color:rgb(238,168,84);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(238,168,84);
}*/
.navbar-head .menu_composant ul li a:hover{
    color: $couleur_or;
}
/* SOULIGNEMENT DES ELEMENTS DU MENU 
.navbar-head .menu_composant ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(238,168,84);
    transition : width 0.2s ease-out;
}*/
.navbar-head .btn-rejoindre{
  background: $couleur_bois;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.4s ease;

  &:hover{
    background: $couleur_or;
    color: $couleur_bois !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all .4s ease;
  }
  i{
    margin-right: 5px;
  }
}


.navbar-head .menu_composant ul li a:hover::before {
    width: 100%;

}
.nava.scrolled {
  background-color: $couleur_bois;
  transition: all .5s ease-in-out;
  
}
.scrolled .btn-rejoindre{
 
    background: $couleur_or;
    color: $couleur_bois;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.4s ease;   
}
.scrolled .btn-rejoindre:hover{
 
  background: $couleur_bois;
  color: #fff !important ;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.4s ease;   
}
/* affichage du menu hamburger en petit ecran*/
@media screen and (max-width : 1069px) {
    /* .nava{
        position: relative;
    } */
    .navbar-head{
        display: flex;
        justify-content: space-between;
        border-radius: 0px 0px 5px 5px ;
        
        padding: 0px;
        width: 100%;
       
    }
    .menu_composant{
       position: absolute;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100vh;
       top: 0px; bottom: 0;
       left: 0; right: 0;
       /* border-radius: 30px; */
       -webkit-backdrop-filter: blur(9px);
       backdrop-filter: blur(9px);
       margin-top: -300%;
       transition: margin ease-in-out 0.8s;
       background-color: #0000006b;
       z-index: 30;
       
    }
    .menu_composant ul{
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 17px;

    }
    .mobile-menu{
        margin-top: 0px;
        transition: margin ease-in-out 0.8s;
       
    }
    .navbar-head .menu_composant ul li{
        margin: 17px 0px;
        text-align: center;
     }
     .navbar-head .btn-rejoindre{
      background: $couleur_bois;
      color: #fff;
      padding: 10px 20px;
      width: 100%;
      margin: 0px !important;
      transition: all 0.4s ease;
    
      &:hover{
        background: $couleur_or;
        color: $couleur_bois !important;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: all .4s ease;
      }
      i{
        margin-right: 5px;
      }
    }
    
    .bouton-menu{
        display: block;
        transition: all ease-in-out 1s;
    }
    .bouton-menu .hr1, .bouton-menu .hr2,.bouton-menu .hr3{
        transition: all ease-in-out 0.5s;
    }
    .button-close .hr1,.button-close .hr3{
        border-width: 1px!important;
        transition: all ease-in-out 1s;
    }
    .button-close .hr1{
        rotate: -135deg;
        position: absolute;
        top: 60%;
       
    }
    .button-close .hr2{
        opacity: 0 !important;
       
    }
    .button-close .hr3{
        rotate: 135deg;
        position: absolute;
        top: 60%;
    }
    
}

/*=========================================
                ACCUEIL
=========================================== */

@keyframes defilement {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -1000px 0;
    }
  }
  @keyframes UpDown {
    0%{
        transform: translateY(7px);
    }
    100%{
        transform: translateY(-7px);
    }
    
}
.filigrane{
    position: absolute;
    
    color: #fff;
    font-size: 50px;
    transform: translateX(-50%), translateY(50%);
    z-index: -2;
}
.filigrane4{
    top: 15%;
    left: 50%;
}
.filigrane1{
    top: 20%;
    left: 80%;
}
.filigrane2{
    top: 80%;
    left: 50%;
}
.filigrane3{
    top: 80%;
    left: 60%;
}
/* --------------------- SECTION SOUS LE HEADER(PRESENTATION) ------------------*/
#home_presentation {
    background-image: url("../img/bg-communaute.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-position: 0 0;

    animation-name: defilement;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    padding: 80px 0px 10px 0px;

    line-height: 26px;
    z-index: 1;
    position: relative;
    overflow: hidden;

    &::before{
        content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; 
      background: linear-gradient(120deg, rgba(185, 127, 56, 0.697) 20%, $couleur_bois);
      z-index: -1;
    }

    .presentation_msg{
        color: #F5F5F5;
        width: 100%;
        align-self: center; 
    }

    .presentation_title{
        font-weight: bolder;
        margin: 0px 0px 5px 0px;
        text-align: center;
        color: $couleur_bois;
    }
    .presentation_title .titre{
        font-size: 40px;
       
    }
    .presentation_subtitle{
        margin: -12px 0px 20px 0px;
        text-align: center;
        font-style: italic;
        text-transform: lowercase;
    }
    .presentation_subtitle::first-letter{
        text-transform: uppercase;
    }

    .presentation_description{
        margin-bottom: 15px;
        font-size: 17px;
        text-align: center;
    
    }

    .btn_presentation{
        width: 65%;
        display: block;
        padding: 15px 5px;
        color: antiquewhite;
        margin: 30px auto;
    }

    .presentatin_img img{
        width: 80%;
        margin: 0px auto;
        animation: UpDown 1.3s ease 0s infinite alternate;
        overflow:hidden;
    
    }
}
/* --------------------- OBJECTIFS ------------------*/
#objectif{
    overflow: hidden;
    padding-bottom: 30px;
    .objectif_title{
        font-weight: bold;
        font-size: $taille_titre;
        text-align: center;
        margin-bottom: 30px;
        color: $couleur_bois;
       
    }
    .objectif_title h2{
      display: block;
      position: relative;
      width: 25%;
      margin: auto;
    }

    .objectif_1{

         .objectif_description_1_title{
            color: #403f3fe7;
            margin-bottom: 5px;
            font-size: 35px ;
            font-weight: lighter;
         }

         .objectif_description_1_paragraphe{
            text-align: justify;
            line-height: 27px;
         }

         .objectif_description_1_button{
          width: 60%;
          display: flex;
         }
         .objectif_description_1_button a{
          text-align: center;
          width: 60%;
          padding: 10px;
          border-radius: 10px;
          background-color: $couleur_or;
          color: #F5F5F5;
          transition: all .5s ease;
         }
         .objectif_description_1_button a:hover{
          background-color: $couleur_bois;
         }
         .objectif_video_1{
          video {
            width: 640px; /* ou toute autre largeur souhaitée */
            height: 360px; /* ou toute autre hauteur souhaitée */
          }
          video:not([controls]) {
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
          }
         }
    }
}

/* --------------------- STATISTIQUE ------------------*/
#statistique {
   background: url("../img/bg9.jpg") fixed; 
  /* background-color: #0e0f15; */
  background-position: center;
  background-size: cover;
  padding: 30px 0px;
  margin: inherit;
  transition: all 0.5s ease;
  position: relative;
  z-index: 3;
  
  &::before{
    content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background: linear-gradient(120deg, rgba(48, 34, 19, 0.697) 20%, $couleur_bois);
  
  z-index: 0;
}

  .statistique_flex {
   
    text-align: center;
   color: white;
  }

  .statistique_flex .nbre_occurence {
    font-size: 30px; 
    color: #f5f5dce0;
  }

  .statistique_flex i {
    font-size: 21px;
    font-weight: bolder;
   
    
  }
  .statistique_flex p:nth-last-child(1){
  }

  .stat_membre {
  }
}


/* --------------------- Team ------------------*/
#team{
  .team_title{

      .team_title_titre{
         font-size: $taille_titre;
         color: $couleur_bois;
      }
  }
  
  .presentation img{
    border-radius: 10px; /* Si cette valeur est modifié vous devriez aussi modifier le bordeur raduis de info-presentation et info-presentation:hover */ 
  }
  .info-presentation{
    border-radius: 10px;
    opacity: 0;
    position: absolute;
    z-index: 3;
    left: 15px;
    bottom: 0;
    right: 12px;
    top: 0;
    left: 12px;
    transition: all 0.6s;
    background: rgba(0, 0, 0, 0.8);
    
    
  }
  .info-presentation:hover{
    opacity: 0.80;
    border-radius: 10px;
  }
  .info-presentation-text{
    width: 100%;
    height: 100%;
  }
  .info-presentation-text-position:hover{
   opacity:1;
   z-index:7;
  }
  
  .info-presentation h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
  }
  
  .info-presentation p {
    color: #f9fcfe;
    font-size: 14px;
    margin-bottom: 0;
  }
}

/* --------------------- Articles ------------------*/
  #articles{
    .article_title{

      .article_title_titre{
         font-size: $taille_titre;
         color: $couleur_bois;
      }
  }
  }
  .card{
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0, 0.1);
    transition: box-shadow 0.5s;
    & a{
      color:inherit;
      text-decoration: none;
    }
    
    &:hover{
      box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
    }
    
  } 
  .card__date{
    position: absolute;
    top: 20px;
    right: 20px;
  
    width: 45px;
    height: 45px;
    padding-top: 10px;
  
    color: #FFF;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
  
    background-color: $couleur_bois;
    border-radius: 50%;
  
    &__day{
      display: block;
      font-size: 14px;
    }
  
    &__month{
      display: block;
      font-size: 10px;
      text-transform: uppercase;
    }
  }
  .card__thumb{
    height: 235px;
    overflow: hidden;
    background-color: #000;
    transition: height .5s;
  
    img{
      display: block;
      opacity: 1;
      transition: opacity .5s, transform .5s;
      transform: scale(1);
    }
  
    .card:hover & img{
      opacity: 0.6;
      transform: scale(1.2);
    }
    .card:hover &{
      height: 235px - 145px;
    }
  }
  .card__body{
    position: relative;
    padding: 20px;
    height: 185px;
    transition: height .5s;
  
    .card:hover &{ height: 185px + 145px; }
  }
  .card__description{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 65px;
  
    margin: 0;
    padding: 0;
  
    color: #666C74;
    font-size: 14px;
    line-height: 27px;
  
    opacity: 0;
    transition: opacity .5s - 0.1s, transform .5s - 0.1s;
    transition-delay: 0s;
    transform: translateY(25px);
  
    .card:hover &{
      opacity: 1;
      transition-delay: 0.1s;
      transform: translateY(0);
    }
  }
  .card__footer{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
  
    font-size: 11px;
    color: #A3A9AB;
  
    .icon--comment{
      margin-left: 12px;
    }
  }
  .card__category{
    position: absolute;
    top: -28px;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 12px;
    left: 0;
    background-color: $couleur_bois;
    color: #fff;
    padding: 5px   15px;
  }
  .card__title{
    margin: 0;
    padding: 0 0 10px 0;
  
    font-size: 22px;
    color: #000;
    font-weight: bold;
  
    .card:hover &{
      animation: titleBlur .5s;
    }
  }
  
  .card__subtitle{
    margin: 0;
    padding: 0 0 10px 0;
  
    font-size: 19px;
    color: $couleur_bois;
  
    .card:hover &{
      animation: subtitleBlur .5s;
    }
  }
  
  @keyframes titleBlur {
    0%{
      opacity:0.6;
      text-shadow: 0px 5px 5px rgba(0,0,0,0.6);
    }
    100%{
      opacity:1;
      text-shadow: 0px 5px 5px rgba(0,0,0,0);
    }
  }
  
  @keyframes subtitleBlur {
    0%{
      opacity:0.6;
      text-shadow: 0px 5px 5px rgba($couleur_bois,0.6);
    }
    100%{
      opacity:1;
      text-shadow: 0px 5px 5px rgba($couleur_bois,0);
    }
  }




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    font-size: 14px;
    background: $couleur_bois;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fffffff4;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: $couleur_bois;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: $couleur_bois;
    font-size: 16px;
    line-height: 1;
    font-weight: bolder;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: rgb(199, 141, 70);
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: $couleur_bois;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: $couleur_or;
    text-decoration: none;
  }
  #footer .footer-top .social-links .bi-twitter:hover {
    color: #1da1f2 !important;
    transition: all ease-in-out .5s;
  }
  #footer .footer-top .social-links .bi-facebook:hover {
    color: #1877f2 !important;
    transition: all ease-in-out .5s;
  }
  #footer .footer-top .social-links .bi-instagram:hover {
    background: linear-gradient(to bottom right, #feda75, #dd2a7b, #833ab4) !important;
    border-radius: 10px;
    padding: 3px;
    transition: background ease-in-out .5s;
  }
  
  #footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
  }
  
  #footer .copyright {
    float: left;
  }
  
  #footer .credits {
    float: right;
    font-size: 13px;
  }
  
  #footer .credits a {
    transition: 0.3s;
    color: $couleur_or;
    font-weight: bolder;
  }
  #footer .credits a:hover {
    color: $couleur_noir;
    transition: 0.3s;
    
  }
  
  @media (max-width: 768px) {
    #footer .footer-bottom {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    #footer .copyright,
    #footer .credits {
      text-align: center;
      float: none;
    }
    #footer .credits {
      padding-top: 4px;
    }
  }
  
  /*# sourceMappingURL=style.css.map */
  