/* ================= RESET =============*/
$couleur_bois:  #8B4513;
$couleur_or :  rgb(199, 141, 70);
$couleur_noir: #000;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Playfair Display", sans-serif;
    
    
}


.button{
    background-color: $couleur_bois !important;
    border: none !important;
}
.button:hover{
    background-color: $couleur_or !important;
    box-shadow: 0 6px 35px -13px #000;
    transition: all 0.7s;
}


/*=========================================
                HEADER
=========================================== */
header{
    position: fixed;
    width: 100%;
    z-index: 10;
}
header .nava{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-head{
    width: 80%;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
   
}
.navbar-head .img-logo{
    justify-self:flex-start;
    margin-left: 15px;
    padding:5px;
    z-index: 12;
}
.bouton-menu{
    display: none;
    position: relative;
    z-index: 12;
}
.bouton-menu .menu-toggle{
    margin-right: 30px;
    position: absolute;
    top: 27%; right: 0;
}
.bouton-menu .menu-toggle hr{
    border: 2px solid $couleur_bois;
    width: 20px;
    margin-top: 6px;
}
.navbar-head .menu_composant{
    align-self: center;
    
}
.navbar-head .menu_composant ul{
    display:flex;
    justify-content: space-between;
    margin-right:30px;
}
.navbar-head .menu_composant ul li{
   margin: 0px 15px;
   font-size: 1.2em;
   font-weight: lighter;
}
.navbar-head .menu_composant ul li a {
    text-decoration: none;
    position: relative;
}
.navbar-head .menu_composant ul li a .active{
    color: $couleur_bois;
}
/*.navbar-head .menu_composant ul li .active::before {
    color:rgb(238,168,84);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(238,168,84);
}*/
.navbar-head .menu_composant ul li a:hover{
    color: $couleur_bois;
}
/* SOULIGNEMENT DES ELEMENTS DU MENU 
.navbar-head .menu_composant ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(238,168,84);
    transition : width 0.2s ease-out;
}*/

.navbar-head .menu_composant ul li a:hover::before {
    width: 100%;

}
/* affichage du menu hamburger en petit ecran*/
@media screen and (max-width : 991px) {
    .navbar-head{
        display: flex;
        justify-content: space-between;
        border-radius: 0px 0px 5px 5px ;
        margin: 0px;
        padding: 0px;
        width: 90%;
       
    }
    .menu_composant{
       position: absolute;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100vw;
       height: 100vh;
       top: 0px;
       border-radius: 30px;
       backdrop-filter: blur(10px);
       margin-top: -150%;
       transition: margin ease-in-out 0.8s;
       
    }
    .menu_composant ul{
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 17px;

    }
    .mobile-menu{
        margin-top: 80px;
        z-index: 2;
        transition: margin ease-in-out 0.8s;
    }
    .navbar-head .menu_composant ul li{
        margin: 17px 0px;
        text-align: center;
     }
    .bouton-menu{
        display: block;
        transition: all ease-in-out 1s;
    }
    .button-close .hr1,.button-close .hr3{
        border-width: 1px!important;
        transition: all ease-in-out 1s;
    }
    .button-close .hr1{
        rotate: -135deg;
        position: absolute;
        top: 60%;
       
    }
    .button-close .hr2{
        opacity: 0;
       
    }
    .button-close .hr3{
        rotate: 135deg;
        position: absolute;
        top: 60%;
    }
    
}

/*=========================================
                ACCUEIL
=========================================== */

@keyframes defilement {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -1000px 0;
    }
  }
  @keyframes UpDown {
    0%{
        transform: translateY(7px);
    }
    100%{
        transform: translateY(-7px);
    }
    
}
.filigrane{
    position: absolute;
    
    color: #fff;
    font-size: 50px;
    transform: translateX(-50%), translateY(50%);
    z-index: -2;
}
.filigrane4{
    top: 15%;
    left: 50%;
}
.filigrane1{
    top: 20%;
    left: 80%;
}
.filigrane2{
    top: 80%;
    left: 50%;
}
.filigrane3{
    top: 80%;
    left: 60%;
}
.home_presentation {
    background-image: url("../img/bg-communaute.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-position: 0 0;

    animation-name: defilement;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    padding: 80px 0px 10px 0px;

    line-height: 26px;
    z-index: 1;
    position: relative;

    &::before{
        content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(120deg, rgba(185, 127, 56, 0.697) 20%, $couleur_bois);
      z-index: -1;
    }

    .presentation_msg{
        color: #F5F5F5;
        width: 50%;
        align-self: center; 
    }

    .presentation_title{
        font-weight: bolder;
        margin: 0px 0px 5px 0px;
        text-align: center;
        color: $couleur_bois;
    }
    .presentation_title .titre{
        font-size: 40px;
       
    }
    .presentation_subtitle{
        margin: -12px 0px 20px 0px;
        text-align: center;
        font-style: italic;
        text-transform: lowercase;
    }
    .presentation_subtitle::first-letter{
        text-transform: uppercase;
    }

    .presentation_description{
        margin-bottom: 15px;
        font-size: 17px;
        text-align: center;
    
    }

    .btn_presentation{
        width: 80%;
        display: block;
        padding: 15px 5px;
        color: antiquewhite;
        margin: 30px auto;
    }

    .presentatin_img img{
        width: 80%;
        margin: 0px auto;
        animation: UpDown 1.3s ease 0s infinite alternate;
        overflow:hidden;
    
    }
}
